body{
    background-color: lightgrey;
    font-family: arial;
    font-size: 12pt;

    display: flex;
    flex-direction: column;
}

div{
    margin: 0;
}

.card{
    background-color: white;
    outline: solid 1px darkgrey;
    width: 8.5in;
    overflow: auto;

    margin: 0.125in auto 0.125in auto;
    
    display: flex;
    flex-direction: column;
}

/* Card Header */
.card .header{
    margin: 0.125in 0 0 0;
}

.card .header *{
    margin: 0;
}

.card .header .middle{
    text-align: center;
}

/* Card Main */

.card .main{
    margin: 0.125in;
}
.card .main *{
    margin: 0;
}